.password-toggle > span {
    display: grid;
    place-items: center;
}

.password-toggle[aria-pressed="false"] .toggle-eye-open,
.password-toggle[aria-pressed="true"] .toggle-eye-closed {
    display: none;
}
